:root {
  --primary-color:#F9F7FE;
  --secondary-color: #147aaa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --special-font-family: "Rock Salt", cursive;
}
body {
  margin: 55px 0 0;
  max-width: 100%;
  background: white;
  font-family: var(--primary-font-family);
  color: black;
  
}

h1, h2, h3, h4, h5, h6{
  color:black;
  
}

h1,
h2,
h4 {
  text-align: center;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 45px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.h2-repeat{
margin-top: 80px;
margin-bottom:-20px;
text-align: center;
}

.h1-repeat{
  text-align: center;
  line-height:95px;
  margin-bottom:15px;
}
.navbar-brand{
  font-family:var(--special-font-family);
}

.nav-link{
  font-size:18px;
}

.active{
  text-decoration: underline;
}

.nav-link:hover{
  text-decoration: underline;
}

.hero {
  display:block;
  background:var(--primary-color);
  text-align: center;
  padding: 100px 10px;
  box-shadow: var(--box-shadow);
}

.hero h2{
  line-height: 55px;
  margin-bottom: 20px;
}
  

.hero h1{
  font-family: var(--special-font-family);
  font-size:80px;
}

.hero h4{
  opacity:0.7;
  color:rgb(109, 104, 104);
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-me-grid{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}


.contact-type-title{
  font-family: var(--special-font-family);
}


.featured-work-button{
  margin: 15px;
  padding: 20px 15px;
  background: var(--secondary-color);
  color: white;
  box-shadow: var(--box-shadow);
  transition: all 100ms ease-in-out;
  font-size:18px;
}

.featured-work-button:hover{
  background: transparent;
  color: black;
  transition: all;
}

.app-buttons{
  text-align: center;

}

.app-button{
  margin: 10px;
  background: var(--secondary-color);
  color: white;

}

.app-buttons a:hover{
  background: transparent;
  color: black;
  transition: all;
}

.full-footer{
  background: var(--primary-color);
  margin: auto;
  max-width: 100%;
  padding-top: 12px;
  padding-bottom: 8px;
  border-top: 2px solid black;
  
  
}
  
.footer-grid {
  display: flex;
  justify-content: center;
  
}




.special-font-title{
  font-family: var(--special-font-family);
}
.netlify-line{
  text-align: center;
  
  }
.fa-brands{
  font-size:35px;
}

.fa-brands:hover{
transform: scale(1.1); 
}

.fa-at{
  color:rgb(173, 28, 28);
}

.fa-linkedin{
  color: #0B66C2;
}

.fa-github{
  color:#542773;
}

.fa-instagram-square{
  color:  #d6249f
  
}
.contact-type-title{
  font-size: 25px;
  }

.contact-type a{
  font-size: 20px;
  text-decoration: none;
}

.h1-repeat{
  font-family: var(--special-font-family);
  font-size: 70px;
  margin-top: 10px;
  margin-bottom:30px;
}
.description-repeat {
  text-align: center;
  font-size: 18px;
  opacity: 0.6;
  margin-top: -20px;
}

.skillset-grid{
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  
}

.skill-icon{
  width: 120px;
  transition: all 100ms ease-in-out;
}

.skill-icon:hover{
  opacity:0.3;
}

.chrome-icon{
  width:105px;
}

.github-icon{
  width:115px;
}
.js-icon{
  width:120px;
}
.react-icon{
  width:125px;
}
.featured-work-button-container{
  margin-top:110px;
}


.app-showcase-grid{
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.weather-app-img{
  display:block;
  margin: 0 auto;
}


.portfolio-img{
  display: block;
  margin: 0 auto;
  
}

.about-me-para{
  font-size: 18px;
}



@media(max-width:992px){
  .nav-center{
    text-align: center;
  }
  
  .hero{
    padding-top:65px;
  }
  .hero h1{
    font-size: 70px;
      }

  .hero h4{
    font-size: 25px;}
  }




@media(max-width:600px){
  body{
    text-align: center;
    margin-left:10px;
    margin-right:10px;
  }

  h2{
    font-size:40px;
  }
 
  h1{
    font-size: 70px;
    text-align: center;
    
  }

  .hero{
    padding-top:65px;
  }
 
  .hero h4{
    font-size: 20px;
  }
  .para{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size:16px;
  }

}

@media(max-width:510px){
  .hero{
    padding-top:50px;
  }
}

@media(max-width:390px){

  .hero{
    padding-top: 10px;
  }

  .hero h2{
    font-size: 35px;
  }

  .hero h1{
    font-size:65px;
  }

  .hero h4{
    font-size: 17px;
  }

  .weather-app-img{
    display:none;
  }

  .h2-repeat{
    margin-bottom: 10px;
  }
  .h1-repeat{
    line-height:75px;
  }
}