:root {
  --primary-color:#F9F7FE;
  --secondary-color: #147aaa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 55px 0px;
  max-width: 100%;
  background: white;
  font-family: var(--primary-font-family);
  color: black;
  
}

h1, h2, h3, h4, h5, h6{
  color:black;
  
}

h1,
h2,
h4 {
  text-align: center;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 48px;
  
}


h4 {
  font-size: 30px;
 
  
}

p {
  font-size: 20px;
 
}

.nav-link:hover{
  text-decoration: underline;
}
.hero {
  display:block;
  background:var(--primary-color);
  text-align: center;
  padding: 100px 10px;
  
}

.hero h2{
  line-height: 55px;
  margin-bottom: 20px;
}
.hero h1{
  font-family: "Rock Salt", cursive;
  font-size:80px;
}

.hero h4{
  opacity:0.7;
  color:rgb(109, 104, 104);
  margin-top: 20px;
  margin-bottom: 40px;
}


.easy-nav-buttons {
  display: flex;
  justify-content: center;
}

.easy-nav-buttons a {
  margin: 20px;
  padding: 20px 15px;
  background: var(--secondary-color);
  color: white;
  box-shadow: var(--box-shadow);
}

.easy-nav-buttons a:hover {
  background: transparent;
  color: black;
  transition: all;
}

#contact-section {
  text-align: center;
}

.about-greeting {
  text-align: center;
  font-size: 25px;
  opacity: 0.8;
  margin-top: -20px;
}

.para {
  font-size: 18px;
  
  
  

}

.app-buttons{
  text-align: center;

}

.app-button{
  margin: 10px;
  background: var(--secondary-color);
  color: white;

}

.app-showcase-grid{
  display: block;
  margin: 0 auto;
  margin-top: 80px;

}

.weather-app-img{
  display:block;
  margin: 0 auto;
}


.portfolio-img{
  display: block;
  margin: 0 auto;
  
  
}
@media(max-width:992px){
  .test{
    text-align: center;
  }
}

@media(max-width:600px){
  body{
    text-align: center;
    margin-left:10px;
    margin-right:10px;
  }

  
 
  h1{
    font-size: 70px;
    text-align: center;
  }

 
  .para{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size:16px;
  }

}

@media(max-width:360px){
  .weather-app-img{
    display:none;
  }
}
